# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
sudo: required
dist: trusty
os:
  - linux
julia:
  - 0.4
  - release
  - nightly
matrix:
  allow_failures:
    - julia: nightly
notifications:
  email: false
addons:
  apt:
    packages:
      - xvfb
      - libgtk-3-0
# uncomment the following lines to override the default test script
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - xvfb-run julia -e 'Pkg.clone(pwd()); 
              using BinDeps;
              println(BinDeps.debug("Gtk"));
              Pkg.build("GtkBuilderAid"); 
              Pkg.test("GtkBuilderAid"; coverage=true)'

after_success:
  - julia -e 'cd(Pkg.dir("GtkBuilderAid"));
              Pkg.add("Coverage");
              using Coverage;
              Coveralls.submit(process_folder())'

